
@import "nomalize";
@import "typography";
@import "colors";
@import "weights";
@import "z-index";
@import "buttons";
@import "forms";
@import "spinners";
@import "switch";
@import "forecast";


body {
  background-color: $grey15;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



