

$mainColor: hsl(192, 58%, 33%);

$mainColor: hsl(224, 30%, 45%);

// an easy attempt on that main2color palette
$main2Color60: hsl(171, 47%, 52%);
$main05: hsl(171, 54%, 97%);
$main10: hsl(171, 54%, 93%);
$main20: hsl(171, 67%, 91%);
$main30: hsl(171, 68%, 86%);
$main40: hsl(173, 46%, 76%);
$main50: hsl(173, 50%, 70%);
$main55: hsl(173, 50%, 65%);
$main60: hsl(173, 49%, 60%);
$main70: hsl(175, 33%, 52%);
$main80: hsl(177, 38%, 42%);
$main90: hsl(179, 40%, 33%);
$main100: hsl(179, 40%, 26%);

$alert2Color: hsl(13, 97%, 55%);
$warning2Color: hsl(40, 92%, 58%);

$grey05: hsl(171, 17%, 99%);
$grey10: hsl(171, 17%, 98%);
$grey15: hsl(171, 17%, 97%);
$grey20: hsl(171, 17%, 95%);
$grey30: hsl(171, 16%, 93%);
$grey40: hsl(171, 14%, 89%);
$grey50: hsl(171, 14%, 83%);
$grey60: hsl(171, 11%, 71%);
$grey70: hsl(171, 7%, 56%);
$grey80: hsl(171, 9%, 31%);
$grey90: hsl(171, 10%, 23%);
$grey100: hsl(173, 12%, 15%);


// copied purple palette
$grey05: hsl(210, 17%, 99%);
$grey10: hsl(210, 17%, 98%);
$grey15: hsl(210, 17%, 97%);
$grey20: hsl(210, 17%, 95%);
$grey30: hsl(210, 16%, 93%);
$grey40: hsl(210, 14%, 89%);
$grey50: hsl(210, 14%, 83%);
$grey60: hsl(210, 11%, 71%);
$grey70: hsl(210, 7%, 56%);
$grey80: hsl(210, 9%, 31%);
$grey90: hsl(210, 10%, 23%);
$grey100: hsl(213, 12%, 15%);

$main10: hsl(224, 54%, 1593%);
$main20: hsl(224, 67%, 91%);
$main30: hsl(224, 68%, 86%);
$main40: hsl(226, 46%, 76%);
$main50: hsl(226, 50%, 70%);
$main60: hsl(226, 49%, 60%);
$main70: hsl(228, 33%, 52%);
$main80: hsl(230, 38%, 42%);
$main90: hsl(232, 40%, 33%);
$main100: hsl(232, 40%, 26%);
// end of copied purple palette
/*
$grey10: hsl(210, 17%, 98%);
$grey15: hsl(210, 33%, 94%);
$grey20: hsl(207, 22%, 90%);
$grey30: hsl(212, 19%, 84%);
$grey40: hsl(207, 18%, 76%);
$grey50: hsl(214, 14%, 59%);
$grey60: hsl(212, 12%, 42%);
$grey70: hsl(215, 22%, 17%);

$main10: hsl(206, 100%, 97%);
$main20: hsl(206, 77%, 81%);
$main30: hsl(207, 58%, 62%);
$main40: hsl(207, 57%, 49%);
$main50: hsl(207, 61%, 39%);
$main60: hsl(207, 59%, 28%);
$main70: hsl(206, 43%, 23%);
*/

$accent110: hsl(177, 100%, 95%);
$accent120: hsl(176, 67%, 80%);
$accent130: hsl(177, 56%, 65%);
$accent140: hsl(174, 45%, 47%);
$accent150: hsl(174, 50%, 38%);
$accent160: hsl(174, 53%, 26%);
$accent170: hsl(179, 53%, 18%);

$accent210: hsl(44, 100%, 98%);
$accent220: hsl(44, 90%, 92%);
$accent230: hsl(43, 88%, 81%);
$accent240: hsl(41, 85%, 69%);
$accent250: hsl(43, 55%, 53%);
$accent260: hsl(41, 56%, 35%);
$accent270: hsl(43, 58%, 23%);

$accent310: hsl(360, 77%, 95%);
$accent320: hsl(359, 75%, 81%);
$accent330: hsl(359, 68%, 64%);
$accent340: hsl(359, 69%, 53%);
$accent350: hsl(358, 69%, 42%);
$accent360: hsl(358, 66%, 32%);
$accent370: hsl(359, 59%, 24%);

  /*
  $grey10: hsl(208, 21%, 88%);
  $grey20: hsl(210, 16%, 76%);
  $grey30: hsl(208, 12%, 58%);
  $grey40: hsl(207, 12%, 43%);
  $grey50: hsl(209, 15%, 28%);
  */


$text-color: #393d56;
$action-color: #e22743;
$background-color: #f7f8f9;