
.forecast-container {
  // position: relative;
  display: flex;
  flex-direction: column;
  width: 780px;
  margin-top: 50px;
}



.forecast-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.forecast-filters-places {

}

.forecast-filters-units {
  
}

.forecast-days {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forecast-days-in-progress {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.forecast-days-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 100%;
  background-color: $grey30;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 280px;
  box-shadow: 0 4px 6px $grey30;
  text-align: center;
  background-color: $grey05;
}

.forecast-day__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 15px 15px 0 15px;

  .forecast-day__day {
    color: $grey90;
    font-size: $fontSize20;
    text-transform: uppercase;
    // letter-spacing: 0.5px;
  }
  .forecast-day__date {
    color: $grey60;
    font-size: $fontSize10;
  }
}

.forecast-day__icon {
  padding: 30px 10px 0 10px;
}

.forecast-day__desc {
  padding: 10px;
  flex-grow: 1;
  font-size: $fontSize30;
  font-weight: $bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  & > * {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.forecast-day__temperature {
  background-color: $grey10;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  color: $grey90;
}

.forecast-day__temp-value {
  font-weight: bold;
  text-transform: capitalize;
}

@media (max-width: 768px) {

  .forecast-container {
    width: 100%;
    margin-top: 20px;
  }

  .forecast-days {
    flex-direction: column;
    align-items: center;

    & > * {
      margin: 10px 0;
    }
  }

  .forecast-filter {
    flex-direction: column;
    margin: 0 ;
    & > * {
      margin: 10px 0;
    }
  }

}